{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/prop-types": "off"

  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "document": true
  }
}