@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App,
.file-drop-target {
  height: 100%;
  width: 100%;
}

.file-drop-dragging-over-target {
  opacity: 0.6;
}

/* StationHeader */
/* based on https://nycguessr.com */

.station-heading {
  background-color: rgb(15 23 42);
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
}

.station-name {
  padding-top: 0.1em;
  font-family: "Arial Black", "Helvetica", sans-serif;
  font-weight: bolder;
  font-size: 2em;
  border-top: 0.1em solid white;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.station-lines {
  height: 1.75em;
}

.station-line {
  font-family: "Arial Black", "Helvetica", sans-serif;
  font-weight: bolder;
  display: block;
  width: 1.5em;
  height: 1.5em;
  padding: 0.1em;
  line-height: 1.5em;
  float: left;
  margin-right: 0.5em;
  text-align: center;
}

.local {
  border-radius: 1em;
}

.express {
  transform: rotate(45deg);
  width: 1.06em;
  height: 1.06em;
  margin-top: 0.22em;
}

.express .station-line-name {
  transform: rotate(-45deg);
  line-height: 1.06em;
  display: block;
  width: 100%;
  height: 100%;
}

.yellow {
  background-color: #fccc0a;
}

.purple {
  background-color: #b933ad;
}

.blue {
  background-color: #0039a6;
}

.red {
  background-color: #ee352e;
}

.silver {
  background-color: #808183;
}

.grey {
  background-color: #a7a9ac;
}

.brown {
  background-color: #996633;
}

.green {
  background-color: #00933c;
}

.light-green {
  background-color: #6cbe45;
}

.orange {
  background-color: #ff6319;
}

/* End StationHeader */
